/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --font-size-S: 1.6rem;
  --font-size-M: 2.4rem;
  --font-size-L: 3.6rem;
  --font-size-XL: 6rem;
  --font-size-XXL: 9rem;
}

/* ANIMACIONES */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ESTILOS PARA LA PAGINA CUANDO CARGA */
.slider-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.slider-loading p {
  font-size: var(--font-size-M);
}

.slider-loading.hidden {
  opacity: 0;
  pointer-events: none;
}

.loading-spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* ESTILOS DEL HEADER E IMAGENES DE PORTADA */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header-logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  text-decoration: none;
}

.header-h1 {
  font-size: var(--font-size-M);
  font-weight: 500;
  color: #000;
}

.header-mobile-nav {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.header-btns-nav {
  width: 3.2rem;
  height: 2.8rem;
  background: transparent;
  color: #000;
  cursor: pointer;
}

.header-icons {
  width: 3.2rem;
  height: 2.8rem;
}

section.section-portada {
  margin-bottom: 5rem;
}

.section-portada-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: max-content;
}

.section-portada-div {
  position: absolute;
  width: 100%;
  max-width: 42rem;
  max-height: fit-content;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.section-portada-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.section-portada-p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background-color: #000;
  width: 100%;
  text-align: center;
  font-size: var(--font-size-L);
  font-weight: 100;
}

.section-portada-div.active {
  opacity: 1;
}

.section-contenedor-btns {
  position: absolute;
  bottom: -4rem;
  padding: 1rem;
  display: flex;
  gap: 0.8rem;
}

.section-btn {
  height: 2rem;
  width: 2rem;
  border: solid 1px #000;
  border-radius: 10px;
  cursor: pointer;
}

.section-btn.active-btn {
  background-color: #000;
}

.section-btns-nav {
  position: absolute;
  top: 45%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.btnsNav {
  height: 3rem;
  width: 3rem;
  background-color: #fff;
  border-radius: 30px;
  border: #000000 solid 0.5px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnIcon {
  width: inherit;
  height: inherit;
}
